@font-face {
    font-family: droid-sans;
    src: url(../fonts/droid-sans/DroidSans.ttf) format('truetype');
}

body
{
	margin:0;
	padding:0;
	color:#555;
	font:14px/22px droid-sans;
	/*background: #EFEFEF;*/
	background:url('../images/background.png');
        min-width:100%;
        display:block;
}

/*#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #FE5000;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
}*/

#page
{
	background: rgba(255, 255, 255, 0.65);
	margin-top: 0;	
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    background: rgba(255,255,255,0.6);
	border-left: 1px solid #e0e0e0;
	min-height: 70vh;
}

#layout.col-md-2 {
	padding-right: 0;
	padding-left: 0;
}

#layout.col-md-10{
	padding-left: 0;
	padding-right: 0
}
#layout.col-md-12{
	padding-left: 0;
	padding-right: 0
}

#btn-form {	
	border-radius:30px;
        margin-bottom: 10px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#herramienta
{
	background: #e0e0e0;
	padding: 18px;
	text-align: center;
}

/*#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #ebebeb;
	
}*/

#footer
{		
	color: #666;
	margin-top: 35px;
	font-size: 0.9em;	
	text-align: center;	
	vertical-align: middle;
}

#footer.back {
	top:0;
	/*background:#eaeaea;*/
	border-top: 1px solid #e0e0e0;
	margin: 0;
	padding: 13px;
	text-indent: .6em;
}

/*#logo
{
	padding: 10px 20px;
	font-size: 200%;
}*/

#mainmenu
{
	/*background:white url(bg.gif) repeat-x left top;*/
	/*border-top-style: 1px;*/
	/*border-bottom-style: 1px;*/
	/*border-color: #ebebeb -moz-use-text-color -moz-use-text-color;*/
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	/*margin:0px;*/
}

#mainmenu ul li
{
	display: inline;
}

/*#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}*/

/*#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}*/

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 17px;
	margin: 10px 0;
	border: 1px solid #EBEBEB;
	background: rgba(245,245,245,0.40);
	border-radius: 7px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.center-block {
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  max-width:422px;
  /*float:right;*/
}

/*label {
    font-family: 'open_sansregular',sans-serif;
    font-weight: bold;
}*/


.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0s;
}
 
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover.in {
   left: 50%;
}

/* clases */

.aside>li>a {
	background-color: #eee;border-top: 1px solid #ccc;
}

.aside>li>a:hover{
	border-right:3px solid #FE5000;
	transition:all linear .3s;
}

.intro-reg {
	padding:20px;
	text-align: center;
}

.form-actions {
	border-top: 2px solid #aa4343;
	margin-top: 10px;
	padding: 20px 15px;
	
}

.menu_item {
	background: none;		
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;	
	max-height: 100vh;
}

.title_2 {
	font-size: 15px;
	text-transform: uppercase;
	color: #555;
	text-decoration: none;	
}

.pd-inner {
	padding: 20px;
}
.hero-unit { max-width: 575px;background: url(../images/bg-form.png) no-repeat 50% 10%;border-radius: 0px 30px}

.ez {
  background: url('../images/bg-ez.png') repeat;  
  display: table;
  padding: 15px 20px;
  line-height: 25px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  font-size:22px;
}
.user { 
    font-size: 18px;
    padding: 8.5px;
    background:#ccc;
    border-radius: 50%;
    vertical-align: middle;
}

.user-menu {
    font-size: 9px;
    padding: 7.5px;
    background: #ccc;
    border-radius: 24%;
    vertical-align: middle;
    float: left;
}

.img-menu-logo {
	margin: 0 15px;
	padding: 15px;
	background: url('../images/logo-nav.png') no-repeat 100% 50% rgba(179,179,179,240);
	border-radius: 50%;
	border: 1px solid #555;
	height:50px;
	width:50px;
	font-size: 18px;
	line-height: 20px;
}

p.intro-reg {
	text-align: justify;
}

hr.soften {
  background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0980392), rgba(0, 0, 0, 0));
  background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.0980392), rgba(0, 0, 0, 0));
  border:0;
  height:1px;
  margin:15px 0;
} 

.none {
	display:none;
}

/* seccion intro */

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/* fin sección intro */
